index.html.erb

cool stuff is going to happen here.
<ul>
<% @users.each do |x| %>
	<li> user:
		<%= x.fname %> <%= x.lname %>
		<ul>
			<% x.cards.each do |y| %>
			<li> available card:
				<%= y.cnumber %>
				<% if x.id == session[:id] %>
				<%= link_to "share or unshare", (relationship_path y) %>
				<% end %>
			</li>
			<% end %>
		</ul>
	</li>

<% end %>
</ul>